*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-style: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Pacifico&display=swap');

html {
    font-size: 62.5%; // 10/16*100
}

body {
    box-sizing: border-box;
    background-color: var(--blue);
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: rgb(22, 93, 115);
    --white: #f7f7f7;
    --orange: rgb(227, 149, 40);
    --skyblue: rgb(136, 199, 217);
    --purple: rgb(123, 44, 170);
    --purple-2: #441e59;
    --gerau: #b92c2c;
    --pink: #f56784;
    --choco: #694817;
    --black: black;
}

.login-container {
    height: 50rem;
    width: 35rem;
    background-color: var(--orange);
    border-radius: 3rem;
    position: absolute;
    right: 20rem;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;

    &__cliping {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: var(--clipping-bgcolor);
        clip-path: circle(50% at 100% 0%);
        transition: all 1s;
    }
    &__change {
        background-color: var(--choco);
        height: 100%;
        position: absolute;
        width: 100%;
        clip-path: circle(15% at 87% -1%);
        text-align: right;
        font-size: 2rem;
        transition: .4s ease-in;
        padding: 1rem;
        color: var(--white);
        cursor: pointer;
    }
    &__change:hover {
        clip-path: circle(20% at 87% -1%);
        padding: 2rem;
    }
    &__login-form {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 2rem;
        
        font-family: 'Poppins', sans-serif;

         & input[type="email"], input[type="password"] {
            font-size: 1.6rem;
            padding: .8rem 2rem;
            margin: 1rem;
            width: 28rem;
            outline: none;
            border: none;
            border-radius: .5rem;
            transition: all .4s;
            font-family: 'Poppins', sans-serif;

        }
        & input[type="email"]:focus, input[type="password"]:focus {
            width: 30rem;
        }
        & input[type="submit"] {
            font-size: 2rem;
            padding: 1rem;
            width: 10rem;
            border: none;
            border-radius: 1rem;
            background-color: var(--gerau);
            color: var(--white);
            font-family: 'Poppins', sans-serif;
            outline: none;
            transition: 1s all ease;
            cursor: pointer;
        }
        & input[type="submit"]:hover {
            background-color: var(--blue);
        }
    }
}

.wave-top {
    width: 70%;
}
.wave-bottom {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.main-container {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 2.8rem;
        text-align: center;
    }
    &__chat-msg {
        background-color: var(--pink);
        color: var(--white);
        width: fit-content;
        font-size: 2rem;
        margin: 5rem auto;
        padding: 1rem 2rem;
        border: .3rem solid #4f080e;
        position: relative;
        border-radius: 1.5rem;
        font-family: 'Pacifico', cursive;

        &--bottom-triangle {
            background-color: black;
            position: absolute;
            top: 100%;
            left: 50%;
            height: 2rem;
            width: 2rem;
            background-color: var(--pink);
            border: .3rem solid #4f080e;
            clip-path: polygon(100% 0 , 0 100%, 100% 100%);
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
}

.girl-svg {
    position: absolute;
    width: 35rem;
    transform: rotateY(180deg);
    left: 5rem;
    bottom: 5rem;
}

.invisible-color {
    color: rgba(0, 0, 0, 0) !important;
}