Features:
   chat: (individual and group)
       text
       emoji
       custom emoji (_futureUpdates_)
       hyperlink
       live remote video(YouTube, Facebook etc)
       document
       location
       audio:
           recording
           upload
       video:
           recording
           upload
       streaming:
           sameMusicOnBothEnd
       chatSharing(select msg and share to other friend)
       report: (fake identity, pornographic content)
    
    newsfeed:
        post:
            text
            img
            video
            report
        comment:
            reply
    story:
        audio
        video
        text
        mix
        privicy
    friends:
         request/response
         metual
         suggestion/find by critarea (name, sex, age, location)
         tag-mention
         block-unblock
    games:
        tic-tac-toe
        custom KBC

    registration/login with:
        google
        facebook
        GitHub

Entities:
    - Users
    - Modrators
    - Admin