
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-style: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #191a19;
}

:root {
  --blue: rgb(22, 93, 115);
  --white: #f7f7f7;
  --orange: rgb(227, 149, 40);
  --skyblue: rgb(136, 199, 217);
  --purple: rgb(123, 44, 170);
  --purple-2: #441e59;
  --gerau: #b92c2c;
  --pink: #f56784;
  --choco: #694817;
  --black: black;



  --container: 70rem;
  --container-bg: #2b2d2b;
}

.invisible_color {
  color: rgba(0, 0, 0, 0) !important;
}
